<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Study Terms</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <router-outlet></router-outlet>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/ai']">
      <ion-label>AI</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/create-term']">
      <ion-label>Create Term</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/terms']">
      <ion-label>Terms</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/settings']">
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

