
<ion-content>
  <div class="outer-wrapper">
    <div class="content-wrapper">

      <ion-item>
        <ion-input 
          placeholder="Enter term..." 
          [(ngModel)]="termInput" 
          (ngModelChange)="onTermInputChange()">
        </ion-input>
      </ion-item>

      <ion-card *ngIf="generatedResult">
        <ion-card-content>
          {{ generatedResult }}
        </ion-card-content>
      </ion-card>

      <ion-button expand="block" (click)="send()">
        Send
      </ion-button>

      <ion-button *ngIf="showSaveButton" expand="block" color="success" (click)="saveResult()">
        Save Result
      </ion-button>

    </div>
  </div>
</ion-content>


